.todo {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    width: 100%;
    max-width: 404px;
    min-height: 429px;
    padding: 24px;
    background-color: var(--color-block);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
     color: var(--color-contrast);
}

.todo_head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.todo_title {
    text-align: center;
    font-size: 24;
    line-height: 1.2;
    letter-spacing: -0.02em;
}

.todo_form {
    display: flex;
    column-gap: 16px;
}

.todo_field {
    width: 100%;
}

.todo_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 16px;
    font-weight: 600;
}

.todo_delete-all-button {
    padding: 0;
    background-color: transparent;
    border: none;
    color: var(--color-contrast);

    &:hover {
        color: var(--color-4);
    }

    &:not(.is-visible) {
        opacity: 0;
        visibility: hidden;
    }
};

.todo_list,
.todo_empty-message {
    &:empty {
        display: none
    }
}

.todo_list {
    --todoListRowGap: 8px;

    display: grid;
    row-gap: var(--todoListRowGap);
}

.todo_empty-message {
    text-align: center;
    color: var(--color-4);
}


